/* === DESKTOP === */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
 background-color: white;
 color: black;
}

header {
  background-color: white;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "din-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #7a3442;
letter-spacing: .3em;
  font-size: 5em;
  display: flex;
  justify-content: center;
  position: relative;
  top: 35%;
  padding: .5em;
}

h2 {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #7a3442;
  letter-spacing: .3em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  position: relative;
  top: 35%;
  padding: .5em;
}

header.header-other {
  height: 10vh;
}

section.presentation {
  width: 100%;
  /* display: flex; */
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}

section article {
  width: 60%;
  text-align: center;
  padding: 5em;
  /* padding: 2em 6em 0 2em; */
  /* margin-left: 10em; */
  line-height: 1.8em;
  display: block;
  margin: auto;
}


section article h3 {
  /* width: 50%; */
  font-family: "din-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #7a3442;
  font-size: 3em;
  padding: 1em 4em;
  line-height: 1.2em;
}

section article p {
  padding: .6em;
  /* width: 50%; */
  line-height: 1.5em;
}

section aside img {
  width: 70vh;
  margin: 0 3em 0 4em;
  padding: 3em;
  /* border-style: solid;
  border-width: .1em; */
}

.rcb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

article.related h3 {
  font-family: "din-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #7a3442;
  font-size: 4em;
  font-weight: 300;
  padding: .5em;
  text-align: center;
}

.related {
  width: 90%;
  display: block;
  margin: auto;
  padding: 1em;
}

section.presentation_other {
  display: block;
}

article.other {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
color: black;
  width: 60%;
  display: block;
  margin: auto;
  padding: 1em;
}

aside.other img {
  width: 40%;
  display: block;
  margin: 3em auto 0 auto;
}

.cb {
  width: 30%;
  margin: 1em;
  display: flex;
  align-items: center;
justify-content: space-evenly;
  transition: .5s ease-in-out;
}

.s2 {
  width: 50%;
  padding: 4em;
}

article.awareness {
  width: 80%;
  padding: 1em 1em 1em 4em;
}

img.a {
  width: 70%;
  padding: 4em;
}

.cu2 {width: 30%;}
.cu3 {width: 30%;}
.cu4 {width: 30%;}
.m2 {width: 30%;}
.m3 {width: 40%;}
.r2 {width: 35%;}
.r3 {width: 35%;}
.r4 {width: 35%;}
.r5 {width: 35%;}
.r6 {width: 35%;}
.r7 {width: 35%;}
.b2 {width: 27%;}
.b3 {width: 27%;}
.b4 {width: 27%;}
.b5 {width: 27%; height: 310px;}
.b6 {width: 27%; height: 310px;}
.b7 {width: 27%; height: 340px;}
.pc7 {width: 80%;}



.smvid {
  width: 50%;
  display: block;
  margin: 5em auto 0 auto;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.portfolio div {
  /* margin: 7px; */
  display: inline-block;
  overflow: hidden;
}

.gallery {
  object-fit: cover;
  width: 557px;
  height: 557px;
  display: block;
  transition: .4s ease-in-out;
}

.gallery:hover {
  transform: scale(1.2);
  filter: brightness(30%);
}

.cv div {
  padding: 2em;
}

h5.ta {
width: 50%;
font-family: "din-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #7a3442;
letter-spacing: .5em;
font-size: 4em;
line-height: 1.3em;
padding: .8em .5em .5em 6em;
margin: .5em;
border-bottom: solid 1px;
  border-color: #7a3442;
  /* border-top: 0;
  border-right: 0;
  border-left: 0; */
/* background-color: #dcbdc4; */
}

p.a {
width: 50%;
font-size: 1.1em;
font-family: "lato", sans-serif;
font-weight: 300;
font-style: normal;
color: black;
padding: .5em;
display: block;
margin: auto;
}

h1.reach {
  text-align: center;
  line-height: 1.5em;
  padding: 1em;
}

section.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0 0 3em 0;
  margin: 2em;
}


.contact a {
  width: 20%;
  font-size: 1em;
  font-family: "lato", sans-serif;
font-weight: 300;
font-style: normal;
color: black;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  border: solid .5px;
  border-color: #7a3442;
  /* background: #DAB2B1; */
  transition: .3s ease-in-out;
}

.contact a:hover {
  transform: scale(1.2);
}

img.phone {
  width: 20%;
  padding: 1em;
}

img.mail {
width: 25%;
padding: 1em;
}

img.insta {
width: 20%;
padding: 1em;
}


nav {
  font-size: 1.1em;
  line-height: 2em;
  width: 40%;
  position: absolute;
  top: 1em;
  right: 0;

}

nav a:link {
  color: #7a3442;
  padding: 10px 20px;
  text-decoration: none;
  flex-grow:1;
  text-align: center;
  transition: all .3s;
}
nav a:visited {
  color: #7a3442;
}
nav a:hover {
  color: #dcbac1;
}


/* === TABLET === */

@media only screen and (max-width: 1300px) {

  header {
    width: 100%;
    height: 100vh;
  }

  h1 {
    font-size: 4em;
    position: relative;
    top: 40%;
  }

  h2 {
    font-size: 2em;
    position: relative;
    top: 40%;
  }

  section article h3 {
    font-size: 3em;
    padding: 1em 0;
    line-height: 1.2em;
  }

  header.header-other {
    height: 5vh;
  }

  section.presentation {
    width: 100%;
    /* display: block;
    margin: auto; */
    padding: 3em;
  }

  section article {
    width: 80%;
    padding: 1em;
    display: block;
    margin: auto;
    /* margin-left: 1em;
    line-height: 1.8em; */
  }

  /* section aside img {
    width: 50vh;
    display: block;
    margin: auto;
    padding: 1em;
  } */

  aside.other img {
    width: 80%;
  }

  .smvid {
    width: 80%;
    display: block;
    margin: 5em auto 0 auto;
  }

.me {
  width: 40%;
  padding: 2em;
  margin: 0;
  float: right;
}

.portfolio {
  display: flex;
  justify-content: space-evenly;
}

.s2 {
  width: 70%;
  padding: 1em;
}

  .gallery {
    width: 350px;
    height: 350px;
    display: block;
  }

  .cv div {
    padding: 2em;
  }

  h5.ta {
  width: 70%;
  font-size: 3em;
  line-height: 1.3em;
  padding: .8em .5em .8em 2em;
  margin: .5em 0;
  }


  img.a {
    width: 80%;
  padding: 2em 0 0 0;
  }


  section.contact {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }

h1.reach {
  margin: 1em;
}

  .contact a {
    width: 30%;
    font-size: .8em;
    text-align: center;
    padding: 1em;
    transition: .3s ease-in-out;
  }

  .contact a:hover {
    transform: scale(1.2);
  }

  img.phone {
    width: 30%;
    padding: 1em;
  }

  img.mail {
  width: 30%;
  padding: 1em;
  }

  img.insta {
  width: 30%;
  padding: 1em;
  }


  nav {
    font-size: .8em;
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    /* position: absolute;
    right: 1em;
    top: 1em; */
  }

}



  /* === CELL === */

  @media only screen and (max-width: 700px) {


    header {
      width: 100%;
      height: 100vh;
    }

    h1 {
      font-size: 2em;
      position: relative;
      top: 40%;
    }

    h2 {
      font-size: .8em;
      position: relative;
      top: 40%;
    }

    header.header-other {
      height: 5vh;
    }

    section.presentation {
      width: 100%;
      display: block;
      margin: auto;
      padding: 1.5em;
    }

    section article {
      width: 100%;
      padding: 0;
      font-size: .6em;
      margin-left: 0;
      line-height: 1.8em;
    }

    section article h3 {
      font-size: 3em;
      padding: 1em 0;
      line-height: 1.2em;
    }

    section aside img {
      width: 40vh;
      display: block;
      margin: auto;
      padding: 1em;
    }

    .me {
    width: 40%;
    padding: 0;
    margin: 0;
    float: right;
    }

    .portfolio {
      display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    }

    .gallery {
      width: 280px;
      height: 280px;
      align-items: center;
    }

    aside.other img{
      width: 80%;
    }

    article.related h3 {
      font-size: 2em;
    }

    .cb {
      width: 60%;
      margin: 1em;
      transition: .5s ease-in-out;
    }

    article.awareness {
      padding: 1em;
    }

    .s2 {
      width: 80%;
      padding: .5em;
    }

    .b5 {width: 60%; height:180px;}
    .b6 {width: 60%; height: 180px;}
    .b7 {width: 60%; height: 180px;}

    .cv div {
      padding: 2em;
    }

    .smvid {
      width: 70%;
      display: block;
      margin: 5em auto 0 auto;
    }

    img.a {
      width: 80%;
    padding: 2em 0 0 0;
    }

    h5.ta {
    width: 50%;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: .8em;
    margin: .5em 0;
    }


    p.a {
    width: 90%;
    font-size: .6em;
    padding: 1em 0;
    display: block;
    margin: auto;
    }

    section.contact {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }

    section.contact {
      display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
    }

    h1.reach {
    text-align: center;
    display: block;
    margin: auto;
    padding: 1em 0 0 0;
    }

    .contact a {
      width: 50%;
      font-size: .7em;
      margin: 2em;
      padding: .5em;
      transition: .3s ease-in-out;
    }


    img.phone {
      width: 20%;
      padding: .5em;
    }

    img.mail {
    width: 30%;
    padding: 1em;
    }

    img.insta {
    width: 30%;
    padding: 1em;
    }


    nav {
      font-size: .2em;
      width: 100%;
      padding: 3em 0;
      display: block;
      margin: auto;
      /* position: absolute;
      right: 0;
      top: 1em; */
    }

    nav a:link{
      padding: 3em;
    }



}
